html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff4a3b;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #1f1f1f;
}

body::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}

.customsScrollbar::-webkit-scrollbar {
  width: 8px;
}

.customsScrollbar::-webkit-scrollbar-thumb {
  background-color: #ff4a3b;
  border-radius: 0px;
  cursor: pointer;
}

.customsScrollbar::-webkit-scrollbar-track {
  background-color: #11152500;
}

.slideDown {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
  visibility: visible;
}

.slideUp {
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
  visibility: hidden;
}

/* SlideDown2: smoothly appear and slide down */
.SlideDown2 {
  opacity: 1;
  transform: translateY(0); /* Slide down to the normal position */
  visibility: visible;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* SlideUp2: slide up and fade out */
.slideUp2 {
  opacity: 0;
  transform: translateY(-100%); /* Move up by 100% */
  /* visibility: hidden; */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slideRight {
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
  visibility: hidden;
}

.slideLeft {
  transform: translateX(0px);
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
  visibility: visible;
}

.slideFromRight {
  animation: slideFromRight 0.3s forwards linear;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0px);
  }
}

.slideFromRight1 {
  animation: slideFromRight1 0.3s forwards linear;
}

@keyframes slideFromRight1 {
  from {
    transform: translateX(30%);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.slideFromLeft {
  animation: slideFromLeft 0.4s forwards linear;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-30%);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.slideFromBottom {
  animation: slideFromBottom 0.4s forwards linear;
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slideFromBottom1 {
  animation: slideFromBottom1 1.2s forwards linear;
}

@keyframes slideFromBottom1 {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }

  60% {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animated-component {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.4s, transform 0.5s ease-out;
}

.animated-component.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.animated-componentfromRight {
  opacity: 0;
  transform: translateX(10%);
  transition: opacity 0.4s, transform 0.4s;
}

.animated-componentfromRight.is-componentfromRight {
  opacity: 1;
  transform: translateX(0);
}

.animated-componentfromLeft {
  opacity: 0;
  transform: translateX(-10%);
  transition: opacity 0.4s, transform 0.5s;
}

.animated-componentfromLeft.is-visiblefromLeft {
  opacity: 1;
  transform: translateX(0);
}
.animated-componentZoom {
  opacity: 0;
  transform: scale(1.5);
  transition: opacity 0.5s ease-out, transform 0.4s ease-out;
}

.animated-componentZoom.is-visibleUnZoom {
  opacity: 1;
  transform: scale(1);
}
.custom-dots {
  display: flex !important;
  justify-content: center;
  gap: 15px; /* Increase this value for more space between dots */
}

.custom-dots li {
  margin: 0; /* Remove default margin */
}

.custom-dots1 {
  display: flex !important;
  justify-content: center;
  gap: 15px; /* Increase this value for more space between dots */
}

.custom-dots1 li {
  margin: 0; /* Remove default margin */
}

*::selection {
  background-color: #ff4b3b;
  color: wheat;
}

.rotateNavBtn {
  transform: rotate(80deg);
  color: rgb(255, 255, 255);
  transition: all 400ms ease-in-out;
}

.slideRightInfo {
  transform: translateX(-135%);
  transition: all 400ms ease-in-out;
}

.slideLeftInfo {
  transform: translateX(0%);
  transition: all 400ms ease-in-out;
}

.slideLeftNavLink {
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
}

.slideRightNavLink {
  transform: translateX(1%);
  transition: all 300ms ease-in-out;
}

.fadeOut {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.fadeIn {
  opacity: 1;
  transition: opacity 90000ms ease-in-out;
}

.movingAnimation {
  animation: upNdown 2000ms ease-in-out infinite;
}

@keyframes upNdown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
}

.trapezoid-reversed {
  width: 170px;
  height: 20px;
  background-color: #1f1f1f;
  clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 7% 100%);
}

.trapezoid-reversed2 {
  width: 180px;
  height: 25px;
  background-color: #ff4a3b;
  clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 0% 100%);
  transform: rotateZ(270deg);
}

.wrap-by-letter {
  display: inline-block; /* Ensures the block respects its contents */
  word-break: break-all; /* Allows breaking at any point, including within words */
  white-space: normal; /* Enables wrapping normally */
}

.fullWidth {
  width: 380%;
  transition: all 300mx linear;
}

.zeroWidth {
  width: 0%;
  transition: all 300mx linear;
}

.imgBgForProjects {
  background-image: url(./components/imgs/bg.png);
}

.navBarSlideUp {
  transform: translateY(-100%);
  transition: all 200ms ease-out;
}

.navBarSlideDown {
  transform: translateY(0);
  transition: all 300ms ease-out;
}
